<div class="card my-3 mx-auto text-center text-primary-emphasis border border-primary-subtle rounded-3" style="width: 20rem;">
    <img src="/assets/kkrn_icon_user_1.png" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">
            <%= @member.name %>
        </h5>
        <div class="row">
            <div class="col m-3">
                <%= link_to("編集","/rooms/#{@room.uuid}/members/#{@member.id}/edit", {class:"btn btn-primary btn-sm"}) %>
            </div>
            <div class="col m-3">
                <%= button_to("削除","/rooms/#{@room.uuid}/members/#{@member.id}/delete", {class:"btn btn-danger btn-sm"}) %>
            </div>
        </div>
    </div>
</div>
<p class="text-center">
    自動化URL : <%= "#{request.protocol}#{request.host_with_port}/API/#{@room.uuid}/#{@member.id}" %>
</p>
<div class="text-center">
    <%= link_to("戻る","/rooms/#{@room.uuid}", {class:"btn btn-primary btn-sm"}) %>
</div>